/* Colores: 

#575fcf : DARK PERIWINKLE
#3c40c6 : FREE SPEECH BLUE
#ffdd59 : YRIEL YELLOW
#ffd32a : VIBRANT YELLOW */

/* Variables */

/* Acá van los valores que más se repitan, asignados como variables */



/* Variables */


/* Estilos para la barra de navegación  */

html, body
{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

p
{
    font-size: 12px;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    min-height: 60px;
    background-color: #575fcf;
    color: white;

}

nav ul
{
    display: flex;
}

nav ul li
{
    padding-right: 20px;
    list-style: none;
}

nav li
{
    padding-left: 20px;
    list-style: none;
}

nav li a
{
    color: white;
    text-decoration: none;
}

nav li a:hover
{
    color: #ffd32a;
}

hr
{
    opacity: .2;
}


/* Estilos para la sección central */

.main-section
{
    padding: 15%;
    text-align: center;
}

.products
{
    background-image: url("../images/curve.png");
    padding: 15%;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    height: 95px;
    background-size: cover;
    
    
    
}

.card-products
{
    padding: 20px;
    margin-top: -226px;
}

.img-content
{
    text-align: center;
}

.content
{
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0 2px 1px #e6e5e9;
}


.main-button
{
    padding: 10px;
    background-color: #3c40c6;
    width: 100%;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    /* font-size: 12px; */
}

.main-button:hover
{
    background-color: #292c8c;
}


/* Estilos para la sección "características/features" */


.details
{
    padding: 10%;
    display: flex;
}

.card-details
{
    text-align: center;
    padding: 20px;
}

.img-details img
{
    max-height: 100px;
}

.text-details
{
    text-align: justify;
}


/* Estilos para la sección "menciones" */



.title-mentions
{
    text-align: center;
}


.mentions
{
    display: flex;
    padding: 5%;
}
.mention img
{
    width: 100%;
}
h2.mention_title
{
    text-align: center;
}
.mention
{
    padding: var(--space);
}
.content-mention
{
    box-shadow: 0px 0 2px 1px #e6e5e9;
}
.mention .text
{
    padding: var(--space);
}

footer
{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: #575fcf;
    padding: 10px;
    color: white#575fcf;
}